{% extends 'base.html' %}

{% block title %}- Dashboard{% endblock %}

{% block content %}

    <div class="balance dash-item">
        <h5>Balance</h5>
        <h1><a href="{{ url_for('transactions.all') }}">{{ balance | brl }}</a></h1>
    </div>

    <ul class="list-group list-group-horizontal dash-item">
        <li class="list-group-item dash-incomes">Incomes <span>{{ income_total | brl }}</span></li>
        <li class="list-group-item dash-expenses">Expenses <span>{{ expense_total | brl }}</span></li>
    </ul>

    <ul class="list-group dash-item">
        <h5>Accounts</h5>
        {% for account in accounts %}
            <li id="dash-accounts" class="list-group-item">{{ account.name }} <span>{{ account.amount | brl }}</span></li>
        {% endfor %}
    </ul>

    <h5 class="dash-item">Last Expenses</h5>
    <table id="dash-last-expenses" class="table table-hover">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in last_expenses %}
                <tr>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.amount | brl }}</td>
                    <td>{{ expense.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}