{% extends 'base.html' %}

{% block title %}- Accounts{% endblock %}

{% block header %}
<header>
    <h3>Accounts</h3>
    <a type="button" class="btn btn-outline-primary" href="{{ url_for('accounts.add') }}">Add account</a>
</header>
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for account in accounts %}
            <li class="list-group-item">
                {{ account.name }}<span class="span-right">{{ account.amount | brl }}</span>
                <a type="button" class="btn btn-outline-warning" href="{{ url_for('accounts.update', id=account['id']) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}